<!DOCTYPE html>
<html lang="en" ng-app="recsApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Platform Recruitment - Telkom DDS</title>
  
  <!-- Bootstrap core CSS -->
  <link href="/front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="/front/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/front/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/front/device-mockups/device-mockups.min.css">
  <link rel="stylesheet" href="/plugins/sweetalert/dist/sweetalert.css">
  
  <!-- Custom styles for this template -->
  <link href="/front/css/new-age.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  
  <!-- Bootstrap core JavaScript -->
  <script src="/front/vendor/jquery/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="/front/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Plugin JavaScript -->
  <script src="/front/vendor/jquery-easing/jquery.easing.min.js"></script>
  
  
  <script src="/plugins/angular/angular.min.js"></script>
  <script src="/plugins/angular-ui-router/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="/plugins/angular-datatables/angular-datatables.min.js"></script>
  <script src="/plugins/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="/plugins/angular-datatables/angular-datatables.css">
  
  <script src="/app/app.js"></script>
  <script src="/app/controllers/controller.js"></script>
  <script src="/app/service/service.js"></script>
</head>
<body id="page-top">
  <div ui-view></div>
  
  <footer>
    <div class="container">
      <p>&copy; 2017 Team Dev. All Rights Reserved.</p> 
    </div>
  </footer> 
</body>
</html>
