<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background:#222;color:white">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Platform Recruitment - Telkom DDS</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ui-sref="signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger btn btn-primary" ui-sref="company">Company</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-7 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Kandidat Daftar</h3>
                <p>
                    <small>Daftar GRATIS dan dapatkan pekerjaan yang sesuai dengan mudah kemudian lamar.</small>
                </p>
                <hr>
                <form action="" >
                    <div class="form-group">
                        <label for="" class="control-label">Username</label>
                        <input type="text" class="form-control" ng-model="form.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Nama Depan</label>
                        <input type="text" class="form-control" ng-model="form.first_name" placeholder="Nama Depan">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Nama Belakang</label>
                        <input type="text" class="form-control" ng-model="form.last_name" placeholder="Nama Belakang">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Email</label>
                        <input type="text" class="form-control" ng-model="form.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Password</label>
                        <input type="password" class="form-control" ng-model="form.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="signup()">
                            Daftar
                        </button>

                        <p>
                            Sudah menjadi anggota ? <a ui-sref="signin">Masuk sekarang</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>