<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"style="background:#222">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Platform Recruitment - Telkom DDS</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-7 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">Login Company</h6>
            </div>
            <div class="panel-body">
                
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-lg-3 control-label">Login ID</label> 
                        <div class="col-lg-9">
                            <input type="text" ng-model="email" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-lg-3 control-label">Password</label> 
                        <div class="col-lg-9">
                            <input type="password" ng-model="password" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-lg-3 control-label"></label> 
                        <div class="col-lg-9">
                            <button class="btn btn-primary" ng-click="signin()">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>