<ng-include src="'/page/company/header.html'"></ng-include>

<div class="container">
    <blockquote>
        <p>Welcome to your Dashboard.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">List Company</h6>
        </div>
        <div class="panel-body">
            <a ng-click="action('add',0)" class="btn btn-primary">
                <i class="fa fa-add"></i> Add New
            </a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Perusahaan </th>
                        <th>Informasi Perusahaan</th>
                        <th>Why Join Us</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in hasils">
                        <td>{{$index+1}}</td>
                        <td>{{p.nama_perusahaan}}</td>
                        <td>{{p.informasi_perusahaan}}</td>
                        <td>{{p.why_join_us}}</td>
                        <td width="15%">
                            <div class="btn-group">
                                <a ui-sref="perusahaan/detail({id:p._id})" class="btn btn-info btn-sm" title="detail">
                                    <i class="fa fa-history"></i>
                                </a>
                                <a ng-click="action('edit',p._id)" class="btn btn-warning btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-click="hapus(p._id)" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style=" margin: 25vh auto 0px auto">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{form_title}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
    
                <div class="modal-body">
                    <form role="form" name="registrasi" novalidate>
                        <div id="loading" class="alert alert-info" ng-show="loading">
                            <i class="fa fa-spin fa-spinner"></i> Please Wait. . .
                        </div>
    
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nama Perusahaan</label>
                            <input type="text" name="nama_perusahaan" ng-model="form.nama_perusahaan" class="form-control" id="nama_perusahaan" ng-value="form.nama_perusahaan" placeholder="Nama Perusahaan">
                        </div>
    
                        <div class="form-group">
                            <label for="exampleInputEmail1">Informasi Perusahaan</label>
                            <input type="text" name="informasi_perusahaan" ng-model="form.informasi_perusahaan" class="form-control" id="Informasi_perusahaan" ng-value="form.Informasi_perusahaan" placeholder="Informasi Perusahaan">
                        </div>
    
                        <div class="form-group">
                            <label for="exampleInputEmail1">Why Join Us</label>
                            <input type="text" name="why_join_us" ng-model="form.why_join_us" class="form-control" id="why_join_us" ng-value="form.why_join_us" placeholder="Informasi Perusahaan">
                        </div>
    
                        <hr>
    
    
                        <button type="submit" class="btn btn-default waves-effect waves-light" ng-click="save(modalstate,id)" ng-disabled="registrasi.$invalid">Simpan</button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>